<header>
  <nav class="main-menu">
    <div class="icon-rrss">
      <a id="icon-github" [href]="LINK_LINKEDIN" target="_blank"> <i class="fa-brands fa-github"></i></a>
      <a id="icon-linkedin" [href]="LINK_GITHUB" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div class="sub-menu" id="sub-menu">
      <ul class="navbar">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/home']" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/about']" routerLinkActive="active">Acerca de
            mi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/experience']"
            routerLinkActive="active">Experiencia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/projects']"
            routerLinkActive="active">Proyectos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/skills']"
            routerLinkActive="active">Habilidades</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
