.header-container{
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
}

.header-container>img {
  width: 100%;
  height: auto;
}

.header-container>.information-user{
  width: 50%;
  position:fixed;

}
.header-container>.information-user>img{
  border-radius: 50%;
  width: 50%;
  border: 5px solid #222A6B;
}


